In [1]:
import multiprocessing as mp

In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
from joblib import Parallel, delayed

In [4]:
import re

In [5]:
import pandas as pd

In [6]:
import time

In [7]:
from multiprocessing import get_context

In [8]:
from selenium.webdriver.common.by import By

In [119]:
from sqlalchemy import create_engine

In [108]:
plt.rcParams['figure.figsize']=(6, 3)

In [9]:
PATH=ChromeDriverManager().install()

In [10]:
URL = 'https://mercadodefacturas.es/empresas/ranking/andalucia/'

In [11]:
driver = webdriver.Chrome(PATH)

/var/folders/fg/hm_rz3k53fv5qf5dywc0bfwr0000gn/T/ipykernel_3797/797652658.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [12]:
driver.get(URL)

In [13]:
'''driver = webdriver.Chrome(PATH)
driver.get(URL)

time.sleep(5)

driver.execute_script('window.scrollTo(0, 200);')

seleccionar = driver.find_element(By.CSS_SELECTOR, '#main > ul > li:nth-child(1) > a')
seleccionar.click()

time.sleep(5)'''

"driver = webdriver.Chrome(PATH)\ndriver.get(URL)\n\ntime.sleep(5)\n\ndriver.execute_script('window.scrollTo(0, 200);')\n\nseleccionar = driver.find_element(By.CSS_SELECTOR, '#main > ul > li:nth-child(1) > a')\nseleccionar.click()\n\ntime.sleep(5)"

In [14]:
links1 = driver.find_elements(By.TAG_NAME, 'a')

In [15]:
links = [e.get_attribute('href') for e in links1]

In [16]:
links

['https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://www.linkedin.com/legal/privacy-policy',
 'https://www.cookiebot.com/goto/privacy-policy/',
 'https://www.linkedin.com/legal/privacy-policy',
 'https://policies.google.com/privacy',
 'https://www.linkedin.com/legal/privacy-policy',
 'https://policies.google.com/privacy',
 'https://policies.google.com/privacy',
 'https://policies.google.com/privacy',
 'https://policies.google.com/privacy',
 'https://www.hotjar.com/legal/policies/privacy/',
 'https://www.hotjar.com/legal/policies/privacy/',
 'https://www.hotjar.com/legal/policies/privacy/',
 'https://www.hotjar.com/legal/policies/privacy/',
 'https://www.hotjar.com/legal/policies/privacy/',
 'https://www.hotjar.com/legal/policies/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://policies.google.com/privacy',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://policies.google.com/privacy',
 'https://policies.google.com/privacy',
 'https://policies.google.com/privacy',
 'https://www.linkedin.com/legal/privacy-policy',
 'https://www.linkedin.com/legal/privacy-policy',
 'https://www.linkedin.com/legal/privacy-policy',
 'https://www.linkedin.com/legal/privacy-policy',
 'https://policies.google.com/privacy',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://yandex.com/legal/privacy/',
 'https://policies.google.com/privacy',
 'https://policies.google.com/privacy',
 'https://policies.google.com/privacy',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#',
 'https://www.cookiebot.com/',
 'https://mercadodefacturas.es/',
 'https://mercadodefacturas.es/empresas/',
 'https://mercadodefacturas.es/financiacion/',
 'https://mercadodefacturas.es/financiacion/factoring/',
 'https://mercadodefacturas.es/financiacion/confirming/',
 'https://mercadodefacturas.es/financiacion/descuento-de-pagares/',
 'https://mercadodefacturas.es/financiacion/prestamos/',
 'https://mercadodefacturas.es/financiacion/creditos/',
 'https://mercadodefacturas.es/financiacion/descuento-de-letras/',
 'https://mercadodefacturas.es/financiacion/descuento-comercial/',
 'https://mercadodefacturas.es/financiacion/descuento-de-efectos/',
 'https://mercadodefacturas.es/financiacion/linea-de-descuento/',
 'https://mercadodefacturas.es/',
 'https://mercadodefacturas.es/empresas/',
 'https://mercadodefacturas.es/empresas/ranking/',
 'https://mercadodefacturas.es/empresas/ranking/almeria/',
 'https://mercadodefacturas.es/empresas/ranking/cadiz/',
 'https://mercadodefacturas.es/empresas/ranking/cordoba/',
 'https://mercadodefacturas.es/empresas/ranking/granada/',
 'https://mercadodefacturas.es/empresas/ranking/huelva/',
 'https://mercadodefacturas.es/empresas/ranking/jaen/',
 'https://mercadodefacturas.es/empresas/ranking/malaga/',
 'https://mercadodefacturas.es/empresas/ranking/sevilla/',
 'https://www.linkedin.com/company/11295915/',
 'https://twitter.com/mercadofacturas',
 'https://mercadodefacturas.es/empresas/ranking/',
 'https://mercadodefacturas.es/empresas/ranking/sectores/',
 'https://mercadodefacturas.es/empresas/ranking/andalucia/#page-top',
 'https://vuzoon.com/?utm_medium=referral&utm_source=mercadodefacturas&utm_campaign=10098']

In [17]:
len(links)

92

In [18]:
links = links[0:86]

In [19]:
links = links[-8::]

In [20]:
links

['https://mercadodefacturas.es/empresas/ranking/almeria/',
 'https://mercadodefacturas.es/empresas/ranking/cadiz/',
 'https://mercadodefacturas.es/empresas/ranking/cordoba/',
 'https://mercadodefacturas.es/empresas/ranking/granada/',
 'https://mercadodefacturas.es/empresas/ranking/huelva/',
 'https://mercadodefacturas.es/empresas/ranking/jaen/',
 'https://mercadodefacturas.es/empresas/ranking/malaga/',
 'https://mercadodefacturas.es/empresas/ranking/sevilla/']

In [36]:
def extraer(URL):
    driver = webdriver.Chrome(PATH)
    driver.get(URL)

    iframe=driver.find_element(By.XPATH, '//*[@id="iwmf112"]')
    driver.switch_to.frame(iframe)
    
    time.sleep(3)
    
    tabla=driver.find_element(By.TAG_NAME, 'tbody')

    filas=tabla.find_elements(By.TAG_NAME, 'tr')


    data=[]

    for f in filas:

        elementos=f.find_elements(By.TAG_NAME, 'td') 

        tmp=[]

        for e in elementos:

            tmp.append(e.text)
            
        tmp.append(URL.split('/')[-1]) 
        data.append(tmp)

  #  cabeceras=driver.find_element(By.TAG_NAME, 'thead')

  #  cabeceras=[c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]
    
    
    driver.quit()
    columnas = ['RAZÓN_SOCIAL', 'VENTAS', 'EBITDA', 'ACTIVIDAD', 'NULL']
    
    return pd.DataFrame(data, columns = columnas)

In [68]:
lst_df=Parallel(n_jobs=3, verbose=True)(delayed(extraer)(e) for e in links)

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
/var/folders/fg/hm_rz3k53fv5qf5dywc0bfwr0000gn/T/ipykernel_3797/1270464781.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
/var/folders/fg/hm_rz3k53fv5qf5dywc0bfwr0000gn/T/ipykernel_3797/1270464781.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
/var/folders/fg/hm_rz3k53fv5qf5dywc0bfwr0000gn/T/ipykernel_3797/1270464781.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
/var/folders/fg/hm_rz3k53fv5qf5dywc0bfwr0000gn/T/ipykernel_3797/1270464781.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
/var/folders/fg/hm_rz3k53fv5qf5dywc0bfwr0000gn/T/ipykernel_3797/1270464781.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
/var/folders/fg/hm_rz3k53fv5qf5dywc0bfwr0000gn/T/ipykernel_3797/1270464781.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
/var/folders/fg/hm_rz3k53fv5qf5dywc0bfwr0000gn/T/ipykernel_3797/1270464781.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
/var/folders/fg/hm_rz3k53fv5qf5dywc0bfwr0000gn/T/ipykernel_3797/1270464781.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
[Parallel(n_jobs=3)]: Done   8 out of   8 | elapsed:   60.0s finished

In [72]:
almeria = lst_df[0]

In [73]:
cadiz = lst_df[1]

In [74]:
cordoba = lst_df[2]

In [75]:
granada = lst_df[3]

In [76]:
huelva = lst_df[4]

In [77]:
jaen = lst_df[5]

In [78]:
malaga = lst_df[6]

In [79]:
sevilla = lst_df[7]

In [80]:
almeria['CIUDAD'] = 'ALMERIA'

In [81]:
cadiz['CIUDAD'] = 'CADIZ'

In [82]:
cordoba['CIUDAD'] = 'CORDOBA'

In [83]:
granada['CIUDAD'] = 'GRANADA'

In [84]:
huelva['CIUDAD'] = 'HUELVA'

In [85]:
jaen['CIUDAD'] = 'JAEN'

In [86]:
malaga['CIUDAD'] = 'MALAGA'

In [87]:
sevilla['CIUDAD'] = 'SEVILLA'

In [88]:
andalucia = pd.concat([huelva, sevilla, cordoba, jaen, almeria, granada, malaga, cadiz], axis=0)

In [57]:
andalucia

,RAZÓN_SOCIAL,VENTAS,EBITDA,ACTIVIDAD,NULL,CIUDAD
0,ATLANTIC COPPER SL,1.777.640,34.690,Metales no ferrosos / minerales,,HUELVA
1,CITRICO...CITRICOS THARSIS SL,862.494*,-31.595*,"Agricultura, ganadería y pesca",,HUELVA
2,MINAS DE AGUAS TEÑIDAS SA,454.971,192.451,Metales no ferrosos / minerales,,HUELVA
3,CASH LEPE SL,311.582*,8.598*,Minoristas de alimentos / medicamentos,,HUELVA
4,VENATOR P&A SPAIN SL,292.759*,38.482*,Productos químicos y plásticos,,HUELVA
...,...,...,...,...,...,...
45,AQUAJER...AQUAJEREZ SL,27.448,10.438,Servicios & Equipos Ecológicos,,CADIZ
46,GRUPO O...GRUPO OSBORNE SA,27.162*,23.483*,Bebidas y otros productos para el consumo,,CADIZ
47,ATALAYA MOTOR SA,26.717*,803*,Automotor,,CADIZ
48,CHICLANA NATURAL SA,25.745,-1.570,Servicios & Equipos Ecológicos,,CADIZ
49,VENTAPESCA SL,25.470*,928*,Productos alimenticios / Parafarmacia,,CADIZ

In [89]:
andalucia.drop(columns = ['NULL'], inplace = True)

In [90]:
andalucia

,RAZÓN_SOCIAL,VENTAS,EBITDA,ACTIVIDAD,CIUDAD
0,ATLANTIC COPPER SL,1.777.640,34.690,Metales no ferrosos / minerales,HUELVA
1,CITRICO...CITRICOS THARSIS SL,862.494*,-31.595*,"Agricultura, ganadería y pesca",HUELVA
2,MINAS DE AGUAS TEÑIDAS SA,454.971,192.451,Metales no ferrosos / minerales,HUELVA
3,CASH LEPE SL,311.582*,8.598*,Minoristas de alimentos / medicamentos,HUELVA
4,VENATOR P&A SPAIN SL,292.759*,38.482*,Productos químicos y plásticos,HUELVA
...,...,...,...,...,...
45,AQUAJER...AQUAJEREZ SL,27.448,10.438,Servicios & Equipos Ecológicos,CADIZ
46,GRUPO O...GRUPO OSBORNE SA,27.162*,23.483*,Bebidas y otros productos para el consumo,CADIZ
47,ATALAYA MOTOR SA,26.717*,803*,Automotor,CADIZ
48,CHICLANA NATURAL SA,25.745,-1.570,Servicios & Equipos Ecológicos,CADIZ
49,VENTAPESCA SL,25.470*,928*,Productos alimenticios / Parafarmacia,CADIZ

In [91]:
andalucia = andalucia.rename(columns = {'RAZÓN_SOCIAL' : 'EMPRESA'})

In [92]:
andalucia

,EMPRESA,VENTAS,EBITDA,ACTIVIDAD,CIUDAD
0,ATLANTIC COPPER SL,1.777.640,34.690,Metales no ferrosos / minerales,HUELVA
1,CITRICO...CITRICOS THARSIS SL,862.494*,-31.595*,"Agricultura, ganadería y pesca",HUELVA
2,MINAS DE AGUAS TEÑIDAS SA,454.971,192.451,Metales no ferrosos / minerales,HUELVA
3,CASH LEPE SL,311.582*,8.598*,Minoristas de alimentos / medicamentos,HUELVA
4,VENATOR P&A SPAIN SL,292.759*,38.482*,Productos químicos y plásticos,HUELVA
...,...,...,...,...,...
45,AQUAJER...AQUAJEREZ SL,27.448,10.438,Servicios & Equipos Ecológicos,CADIZ
46,GRUPO O...GRUPO OSBORNE SA,27.162*,23.483*,Bebidas y otros productos para el consumo,CADIZ
47,ATALAYA MOTOR SA,26.717*,803*,Automotor,CADIZ
48,CHICLANA NATURAL SA,25.745,-1.570,Servicios & Equipos Ecológicos,CADIZ
49,VENTAPESCA SL,25.470*,928*,Productos alimenticios / Parafarmacia,CADIZ

In [93]:
def limpiar_num(fila):
    x = re.findall('\d', fila)
    if '-' not in fila:
         fila = ''.join(x)
    else:
         fila = '-' + ''.join(x)
    return fila

In [95]:
andalucia['VENTAS'] = andalucia['VENTAS'].apply(limpiar_num)

In [ ]:
andalucia['EBITDA'] = andalucia['EBITDA'].apply(limpiar_num)

In [101]:
andalucia

,EMPRESA,VENTAS,EBITDA,ACTIVIDAD,CIUDAD
0,ATLANTIC COPPER SL,1777640,34690,Metales no ferrosos / minerales,HUELVA
1,CITRICO...CITRICOS THARSIS SL,862494,-31595,"Agricultura, ganadería y pesca",HUELVA
2,MINAS DE AGUAS TEÑIDAS SA,454971,192451,Metales no ferrosos / minerales,HUELVA
3,CASH LEPE SL,311582,8598,Minoristas de alimentos / medicamentos,HUELVA
4,VENATOR P&A SPAIN SL,292759,38482,Productos químicos y plásticos,HUELVA
...,...,...,...,...,...
45,AQUAJER...AQUAJEREZ SL,27448,10438,Servicios & Equipos Ecológicos,CADIZ
46,GRUPO O...GRUPO OSBORNE SA,27162,23483,Bebidas y otros productos para el consumo,CADIZ
47,ATALAYA MOTOR SA,26717,803,Automotor,CADIZ
48,CHICLANA NATURAL SA,25745,-1570,Servicios & Equipos Ecológicos,CADIZ
49,VENTAPESCA SL,25470,928,Productos alimenticios / Parafarmacia,CADIZ

In [123]:
andalucia.insert(0, 'ID', [e for e in range(len(andalucia))] )

In [124]:
andalucia

,ID,EMPRESA,VENTAS,EBITDA,ACTIVIDAD,CIUDAD
0,0,ATLANTIC COPPER SL,1777640,34690,Metales no ferrosos / minerales,HUELVA
1,1,CITRICO...CITRICOS THARSIS SL,862494,-31595,"Agricultura, ganadería y pesca",HUELVA
2,2,MINAS DE AGUAS TEÑIDAS SA,454971,192451,Metales no ferrosos / minerales,HUELVA
3,3,CASH LEPE SL,311582,8598,Minoristas de alimentos / medicamentos,HUELVA
4,4,VENATOR P&A SPAIN SL,292759,38482,Productos químicos y plásticos,HUELVA
...,...,...,...,...,...,...
45,395,AQUAJER...AQUAJEREZ SL,27448,10438,Servicios & Equipos Ecológicos,CADIZ
46,396,GRUPO O...GRUPO OSBORNE SA,27162,23483,Bebidas y otros productos para el consumo,CADIZ
47,397,ATALAYA MOTOR SA,26717,803,Automotor,CADIZ
48,398,CHICLANA NATURAL SA,25745,-1570,Servicios & Equipos Ecológicos,CADIZ
49,399,VENTAPESCA SL,25470,928,Productos alimenticios / Parafarmacia,CADIZ

In [121]:
str_conn='mysql+pymysql://root:01051997Rm@localhost:3306/listas_forbes'

cursor=create_engine(str_conn)

In [126]:
andalucia.to_sql(name='andalucia', con=cursor, if_exists='replace', index=False)

400